.flex-container{
  flex-direction: column;
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}
.card{
    justify-content: center;    
    
    width: 450px;
    height: 290px;
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    
  }
  
  .card-content {
    flex-shrink: 0;
  }
  
  .p{
    flex-grow: 1;
    overflow: auto;
  }